{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" type="image/png" href="{% static 'erp/marca/favicon.png' %}">
<link rel="apple-touch-icon" href="{% static 'erp/marca/icone-180.png' %}">
<meta name="theme-color" content="#4e574b">
<link rel="stylesheet" href="{% static 'erp/tema.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    <img class="marca-simbolo" src="{% static 'erp/marca/simbolo.png' %}" alt="" width="38" height="38">
    <span class="marca-nome"><span class="marca-nome-texto">{{ marca.NOME }}</span><small>{{ marca.SISTEMA }} · versão {{ versao_erp }}</small></span>
  </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
